#!/bin/bash

# Load the development environment from flake.nix
use flake .

SECRETS_FILE="secrets"
# Create the secrets file if it doesn't exist, with placeholder for SYSREV_API_KEY
if [ ! -f "$SECRETS_FILE" ]; then
    cat <<EOL >"$SECRETS_FILE"
SYSREV_API_KEY=
EOL
fi

set -a  # automatically export all variables
. ./secrets  # sources the secrets file, making its variables available in the environment
set +a  # stop automatically exporting variables